.places__section {
  display: grid;
  margin: 0 0 0 10%;
  align-items: end;
}

.place__section {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;

  font-family: "Inter";
  margin: 8% 10% 0 0%;
  gap: 50px;
}

.place_city__section {
  font-weight: bold;
  font-size: 72px;
  margin: 0;
}

.place_title__section {
  font-weight: normal;
  font-size: 12px;
  color: #aaaaaa;
  margin: 0;
}

.place_artist__section {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.place_image__section {
  margin: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  align-self: flex-start;
  box-shadow: 10px 10px 25px 0px hsla(0, 0%, 0%, 0.5);
}
.place_image__section:hover {
  opacity: 50%;
}

.place-paragraph__section {
  margin: 0;
  width: 90%;
}

.place-paragraph__section {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  margin-bottom: 5%;
}

.place-paragraph-2__section {
  font-size: 18px;
  margin: 0;
  line-height: 1.8;
}

.place-paragraph-3__section {
  font-size: 18px;
  margin: 0;
  line-height: 1.8;
  margin-top: 5%;
}

.place_button__section {
  margin: 0;
  width: 70%;
  height: 50px;
  font-size: 18px;
  background: linear-gradient(to right, #0278fe, #003a7b);
  color: white;
  border: none;
  box-shadow: 5px 5px 20px black;
  border-radius: 3px;
  padding: 0;
}

.place_button__section:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 544px) and (max-width: 1023px) {
  .places__section {
    margin: 10% 0 0 3%;
  }

  .place__section {
    grid-template-rows: auto auto auto;
    margin: 0;
    gap: 30px;
    margin-bottom: 10%;
  }

  .section__place_city {
    font-size: 42px;
    margin: 0;
  }

  .place_title__section {
    margin: 0;
  }

  .place_artist_section {
    margin: 0;
  }

  .place_image__section {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
  }

  .place-paragraph__section {
    margin: 0;
    grid-row: 2/4;
    grid-column: 2/3;
  }

  .place_paragraph-2__section {
    margin-bottom: 5%;
  }

  .place_button__section {
    margin: 0;
  }
}

@media screen and (max-width: 543px) {
  .places__section {
    margin: 0;
  }

  .place__section {
    display: block;
  }

  .section__place_city {
    margin-top: 10%;
    margin-left: 4%;
    font-size: 32px;
  }

  .place_title__section {
    margin-top: 5%;
    margin-left: 4%;
  }

  .place_artist__section {
    margin-left: 4%;
  }

  .place_image__section {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .place-paragraph__section {
    margin-left: 4%;
  }

  .place_paragraph__section {
    font-size: 16px;
  }

  .place_paragraph-2__section {
    font-size: 16px;
  }

  .place_paragraph-3__section {
    font-size: 16px;
  }

  .place_button__section {
    margin-top: 8%;
    width: 90%;
    margin-left: 4%;
    height: 50px;
  }
}
