.section {
  color: white;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.section__title {
  font-family: "Inter";
  font-weight: bold;
  font-size: 54px;
  margin: 0 0 0 10%;
  width: 55%;
  margin-bottom: 2%;
}

.section__subtitle {
  font-family: "Inter";
  font-weight: normal;
  font-size: 24px;
  font-weight: 1.5;
  margin: 0 0 0 10%;
  width: 50%;
  margin-bottom: 3%;
}

.section__author {
  font-family: "Inter";
  font-weight: normal;
  font-size: 24px;
  font-weight: 1.5;
  margin: 0 0 0 10%;
  text-align: end;
  width: 50%;
  margin-bottom: 3%;
}

.section__paragraph {
  font-family: "Inter";
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 0 10%;
  width: 50%;
  margin-bottom: 7%;
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 544px) and (max-width: 1023px) {
  .section {
    color: white;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
  }

  .section__title {
    font-size: 45px;
    margin: 0 0 0 4%;
    width: 75%;
    margin-bottom: 2%;
  }

  .section__subtitle {
    font-size: 24px;
    font-weight: 1.5;
    margin: 0 0 0 4%;
    width: 90%;
    margin-bottom: 3%;
  }

  .section__author {
    font-size: 24px;
    font-weight: 1.5;
    margin: 0 0 0 4%;
    text-align: end;
    width: 90%;
    margin-bottom: 3%;
  }

  .section__paragraph {
    font-size: 16px;
    margin: 0 0 0 4%;
    width: 90%;
    margin-bottom: 7%;
  }
}

@media screen and (min-width: 320px) and (max-width: 543px) {
  .section {
    color: white;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
  }

  .section__title {
    font-size: 32px;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 10%;
  }

  .section__subtitle {
    font-size: 24px;
    font-weight: 1.5;
    margin: auto;
    width: 75%;
    margin-bottom: 3%;
  }

  .section__author {
    font-size: 24px;
    font-weight: 1.5;
    margin: 0 auto;
    text-align: end;
    width: 75%;
    margin-bottom: 10%;
  }

  .section__paragraph {
    font-size: 16px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 7%;
  }
}
